<table>
    <caption>Beacons</caption>
    <thead>
    <td>id</td>
    <td>long</td>
    <td>lat</td>
    <td>type</td>
    <td>action</td>
    </thead>
    {% for beacon in beacons_list %}
        <tr>
            <td>{{ beacon.id }}</td>
            <td>{{ beacon.point['coordinates'][0] }}</td>
            <td>{{ beacon.point['coordinates'][1] }}</td>
            <td>{{ beacon.type }}</td>
            <td><a href="#" class="delete" data-element-id="{{ beacon.id }}">Удалить</a></td>
        </tr>
    {% endfor %}
</table>
<script>
    $("a.delete").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: "/admin/ajax",
            type: "POST",
            data: JSON.stringify({document: "Beacon", action: "delete", id: this.dataset.elementId}),
            contentType: "application/json"
        });
    });
</script>