<table>
    <caption>Zones</caption>
    <thead>
        <td>id</td><td>title</td><td>long</td><td>lat</td><td>radius</td>
    </thead>
{% for zone in zones_list %}
    <tr>
        <td>{{ zone.id }}</td>
        <td>{{ zone.title }}</td>
        <td>{{ zone.point['coordinates'][0] }}</td>
        <td>{{ zone.point['coordinates'][1] }}</td>
        <td>{{ zone.radius }}</td>
    </tr>
{% endfor %}
</table>